
.navbar-expand-sm{
    height: 130px;
    background-color: #ffffff;
    color: black;
}
.header{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
}

.navbar-nav .nav-item{
   padding-left: 30px;
   padding-right: 30px;
   font-size: 18px;
   color: black;
}

.dreamhome-link {
    font-size: 24px;
    color: red;
  }

  .logout-button {
    color: white;
    background-color: red;
    padding: 8px 16px;
    cursor: pointer;
  }

  .greeting {
    color: white;
  }