/* Footer.css */

.footer {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  color: #0A0A0A;
  font-family: Arial, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.footer img {
  max-width: 300px;
  margin-bottom: 50px;
  color: #333;
}


.footer-1 {
  line-height: 40px;
  display: block;
  text-align: left;
}
.footer-link-group {
  padding-top: 10px;
}
.footer-2{
  margin-top: 25px;
  padding-left: 10rem;
  line-height: 30px;
  display: block;
  text-align: left;}
.footer-3{
  margin-top: -20px;
  padding-left: 10rem;
  line-height: 30px;
  display: block;
  text-align: left;}