html{
  scroll-behavior: smooth;
}


.header{
  background-color: rgb(255, 253, 253);
  position:fixed;
  top: 0;
  font-family: "Quicksand", sans-serif;
  height: 110px;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 9999;
  font-size: 19px;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.header .header-item {
  padding-top: 35px;
  font-weight: 550;


}

.header .header-item:hover{
  padding-top: 35px;
  font-weight: 550;
  color: #ee0000;


}
.header .dreamhome {
  margin-left: 70px;
  text-decoration: underline;
  color: #dd0000;
  font-weight: bold;
  font-size: 30px;
  padding-top: 20px;
}

.header .header-login {
  color: #ffffff;
  font-size: 19px;
  background-color: #dd0000;
  padding: 10px 15px;
  border-radius: 5px;
margin-top: 25px;
}
.header .header-login:hover {
  color: #ffffff;
  font-size: 19px;
  background-color: #ee0000;
  padding: 10px 15px;
  border-radius: 5px;
margin-top: 25px;

}
.header .header-signup {
  color: #272626;
  font-size: 19px;
  background-color: rgb(163, 161, 161);
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 25px;

}
.header .header-signup:hover {
  color: #141414;
  font-size: 19px;
  background-color: rgb(141, 140, 140);
  padding: 10px 15px;
  border-radius: 5px;
margin-top: 25px;
}

