
.apartment-list {
    /* Áp dụng kiểu cho danh sách căn hộ */
    margin-bottom: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }
  
  .show-apartment {
    display: block;
    margin-top: 150px;
    width: 100%;
    font-weight: normal;
    font-family: "Quicksand", sans-serif;
  }
  .card {
    /* Áp dụng kiểu cho mỗi căn hộ */
  border: 1px solid #ccc;
  margin-bottom: 50px;
  }
  
  
  .image-gallery {
    width: 100%;
  }
  
  .image-gallery img {
    /* Áp dụng kiểu cho từng ảnh */
    width: 100%;
    height: auto;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

  }

 
  .apartment-item {
    text-align: left;
    padding-left: 10px;
    /* Các thuộc tính khác mà bạn muốn áp dụng */
  }
  
  .apartment-price {
    text-align: left;
    padding-left: 10px;
    font-weight: 600;
    color: #dd0000;
    /* Các thuộc tính khác mà bạn muốn áp dụng */
  }
  
  .address {
    text-align: left;
    padding-left: 10px;

    /* Các thuộc tính khác mà bạn muốn áp dụng */
  }
h3{
  text-align: left;}