.list_apartment{
    position: absolute;
    margin-top: 250px;
    margin-left: 230px;
    overflow: scroll;
    width: 82%;
    height: 70%;
    background: linear-gradient(to right, #7A7FBA, #FF0000);
  }
  .watch-detail{
    background: linear-gradient(to right, #7A7FBA, #FF0000);
  }
  .watch-image{
    background: linear-gradient(to right, #7A7FBA, #FF0000);
  }
  