/* .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-card {
  max-width: 400px;
  padding: 40px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-card h1 {
  text-align: center;
  margin-bottom: 10px;
}

.form-card .form-group {
  margin-bottom: 10px;
  margin-right: 10%;
}

.form-card label {
  font-weight: bold;
}

.form-card input[type="text"],
.form-card input[type="email"],
.form-card input[type="number"],
.form-card input[type="password"],
.form-card input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  left: 10%;
}

.form-card button[type="button"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.justify-content-left{
  margin-top: 130px;
} */

.p-4{
  top: 10%;
  width: 71%;
  left: 15%;
}
.col-sm-6{
  margin-top: 200px;
}
.mb-3{
  text-align: center;
  
}
.title-title {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
}
h1, h3{
  color: #FFFFFF;
  top: 50%;
}

.col-lg-6{
position: absolute;
left: 110px;
top: 90px;
width: 35%;
height: 860px;
background: #DA291C;
border-radius: 4px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
color: #FFFFFF;
}
.mt-4{
  width: 50%;
}

/* label {

position: absolute;
width: 127px;
height: 40px;
font-family: 'Inter';
font-style: normal;
font-weight: 600px;
font-size: 18px;
display: flex;
text-align: start;
} */
/* .row{
  font-size: 20px;
  font-family: 'Roboto';
} */

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #000;
  font-size: 20px;
}
