.signin-container {
  max-width: 60%;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.row {
  display: flex;
  flex-wrap: wrap;
}

.signin-form {
  justify-content: center;
  align-items: center;
}

.form-right {
  background-color: #dd0000;
  color: #fff;
  text-align: center;
  height: 600px;
}

.form-right .social-icons {
  margin-bottom: 20px;
  margin-top: 150px;
}
.form-left {
  background-color: #fff;
  color: #000;
  text-align: center;
  padding-top: 100px;
  height: 600px;
}
.signin-welcome{
  margin-left: auto;
  margin-top: 20px;
  margin-right: auto;
  text-align: center;
}
.signin-title{
  margin-top: 20px;
margin-bottom: 30px;
  margin-left: 10px;
  margin-right: auto;
  text-align: center;
}

.card {
  padding: 20px;
}

.text-center {
  text-align: center;
}

.mt-3 {
  margin-top: 15px;
}

.form-group {
  margin-bottom: 25px;
}
.signin-p-4 {
  padding: auto;
  margin: auto;
}
label {
  display: block;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


 .mt-4{
  width: 500px;
  background-color: #dd0000;
  text-align: center;
}
.mt-4:hover{
  background-color: #ee0000;
  text-align: center;
}
.btn-primary:hover {
  background-color: #0056b3;
}

.text-center a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}



