
.p-4{
  
  width: 100%;
  border-radius: 0px;
  line-height: 7px;
}
.card {
  border-radius: 0px;
}
.signup-form {
  height: 750px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.col-sm-6{
  margin-top: 200px;
}
.mb-3{
  text-align: center;
  
}
.title-title {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
}
.welcome{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.title{
  margin-left: 10px;
  margin-right: auto;
  text-align: center;
}
.col-lg-6{
position: absolute;
width: 30%;
height: 750px;
background: #DA291C;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
color: #FFFFFF;
}
.signup-mt-6 {
  width: 30%;
  margin-top: 70px;
  height: 40px;
  border:none;
  background-color:#FFFFFF;
  color: #000;
  font-weight: 600;
  border-radius: 7px;
}
.mt-4{
  width: 20%;
  margin-top: 0px;
  height: 40px;
  border:none;
  background-color: #dd0000;
  color: #FFFFFF;
  font-weight: 600;
  border-radius: 7px;
}

.mt-4:hover{
  width: 20%;
  margin-top: 0px;
  height: 40px;
  border:none;
  background-color: #ee0000;
  color: #FFFFFF;
  font-weight: 600;
  border-radius: 7px;
}


.social-icons {
  display: flex;
  margin-top: -20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.social-icons .icon {
  width: 100px;
  height: 60px;

}
.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #000;
  font-size: 20px;
}
